<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

  <web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
           http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0" >


  <!--中文乱码过滤器-->
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
<filter-mapping>
  <filter-name>CharacterEncodingFilter</filter-name>
  <url-pattern>/*</url-pattern>    <!--/*表示拦截所有-->
</filter-mapping>


  <!--SpringMVC的前端控制器，DispatcherServlet-->
  <servlet>
    <servlet-name>DispatcherServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring-mvc.xml</param-value>
    </init-param>

    <!--在应用启动时，就完成servlet的实例化及初始化操作-->
    <load-on-startup>1</load-on-startup>  <!--配置一个正整数-->
  </servlet>

  <servlet-mapping>
    <servlet-name>DispatcherServlet</servlet-name>
    <!--/会匹配到所有的访问路径，但不会匹配到像*.jsp这样的方法url /login  /add /update /a.jsp-->
    <!--/和/*的区别-->
    <url-pattern>/</url-pattern>
  </servlet-mapping>
<!--处理404异常-->
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
<!--处理500异常-->
  <error-page>
    <error-code>500</error-code>
    <location>/404.jsp</location>
  </error-page>
</web-app>
